body {
    background-color: pink;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#Judul-utama {
    color: darkred;
    text-align:center;
}
.teks-intro {
    color: cornsilk;
    font-size: 18px;
}
body {
  background-color: pink
  color: white;
}

h1 {
  background-color: pink
  color: white;
}

div {
  background-color: white
  color: white;
}
</style>
</head>
<body>

<h1>This is a Heading</h1>
<p>This page has a grey background color and a blue text.</p>
<div>This is a div.</div>