body {
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(250, 235, 215);
    color:rgb(17, 17, 17) 
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: peru;
    padding: 15px 30px;
}
.logo {
    color: azure;
    font-size: 1.5em;
    margin: 0;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-links a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color: rgb(195, 158, 101);
}
.hero {
    text-align: center;
    padding: 60px 20px;
    color: tan;
}
footer {
    background-color:peru;
    color: aliceblue;
    text-align: center;
    padding: 15px;
}
.menu {
    padding: 40px 20px;
    text-align: center;
}
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card {
    background-color: rgb(131, 115, 94);
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}
.menu-card img {
    width: 100%;
    border-radius: 10px;
}
.menu-card p {
         color: rgb(209, 175, 117);
         font-weight: bold;
}